# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Pygame/Multimedia temp files
*.log
*.spec

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
*.swo